/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family: Times;
    font-size: 16px;
}

.class {
    property:value;
}

#id {
    property:value;
}
